.dark-mode-container {
    width: 8rem;
    border: 1px solid #bbb;
    background-color: #eee;
    border-radius: 100px;
    transition: all 0.5s ease-in-out	;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .dark-mode-container:hover {
    background-color: #fff;
  }


  .btn-dark-mode {
    color:#101010;
    min-width: 8rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border:none;
    border-radius: 100px;
    font-weight: 600;
    background-color: transparent;
  }
  
  
  .dark-mode-icon {
    margin-left: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #101010;
    border-radius: 100%;
  }
  
  .with-mode-icon {
    margin-left: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ffff;
    border-radius: 100%;
  }
  