.Home {
    padding: 1.5rem;
    border-radius: 15px;
    color: #aaa;
    background-color: #fff;
}

.Home__aside {
    width: 25vw;
    border-right: 1px solid #aaa;

}

.section_lenguaje_tools{
    margin: 0rem 1.5rem;
    font-size: 1rem;
}

.Contain-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}