
.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #111;
}

.icon-lang {
    width: 2rem;
    height: 2rem;
    padding: 0.40rem;
}

.icon-Hobbies {
    width: 2rem;
    height: 2rem;
    padding: 0.40rem;
    padding-bottom: 1rem;
}