.section_lenguaje_tools{
    padding: 0rem 1.5rem;
    font-size: 1rem;
}

.Contain-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (768px >= width >= 375px) {	
    .Contain-logo {
        justify-content: center;
        align-items: center;
    }
}